<DOCTYPE html>
<html>
  <head>
    <title>main</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>홈페이지</h1>


  <script type="text/javascript">
  </script>
  </body>
</html>
